.grid-container{
    display: grid;
    background-color: #01426a;
    gap: 10px;
    padding: 10px;
}

.grid-header-item{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

.grid-header{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-menu{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 6;
}

.grid-blogging{
    grid-column-start:2;
    grid-column-end:6;
    grid-row-start:2;
    grid-row-end:3;
}

.grid-developing{
    grid-column-start:2;
    grid-column-end:6;
    grid-row-start:3;
    grid-row-end:4;
}

.grid-hometown{
    grid-column-start:2;
    grid-column-end:6;
    grid-row-start:4;
    grid-row-end:5;
}

.grid-footer{
    grid-column-start: 2;
    grid-column-end:6;
    grid-row-start:5;
    grid-row-end:6;
}